@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #7a7a7a;
  z-index: 100;
  transition: all 0.5s ease;
}
.pic {
  width: 33px;
  height: 33px;
}
.sidebar.close {
  width: 78px;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
  margin-top: 90px;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
  margin-left: 29px;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  height: max-content;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}
.container_courses {
  width: 1185px;
  height: 500px;
}
.course {
  width: 1185px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.coursenames {
  border-radius: 10px;
  border-color: #11101d;
  width: 200px;
  height: 180px;
  background-color: #dedbff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 27px;
  cursor: pointer;
}
.coursenames::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #11101d;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.coursenames:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #11101d;
}
.coursenames2 {
  border-radius: 10px;
  border-color: #11101d;
  width: 200px;
  height: 180px;
  background-color: #dedbff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 27px;
  cursor: pointer;
  flex-direction: column;

  color: #dedbff;
}
.coursenames2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #11101d;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.coursenames2:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #11101d;
}
.coursenames:hover {
  color: #11101d;
  box-shadow: 0 0 5px #11101d;
  text-shadow: 0 0 5px #11101d;
}
.coursenames2:hover {
  color: #11101d;
  box-shadow: 0 0 5px #11101d;
  text-shadow: 0 0 5px #11101d;
  color: #7a7a7a;

  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
}
#title {
  margin-left: 170px;
}
.challenges-box {
  width: 1185px;
  height: 500px;
}

.circle-challenge {
  border-radius: 10px;
  border-color: #11101d;
  width: 200px;
  height: 180px;
  background-color: #1d1b31;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 27px;
  cursor: pointer;
}
.box {
  width: 100px;
  height: 100px;
  background-color: #11101d;
  display: flex;
}

.circle-challenge::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #595675;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.circle-challenge:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #595675;
}

.circle-challenge:hover {
  color: #595675;
  box-shadow: 0 0 5px #595675;
  text-shadow: 0 0 5px #595675;
}
.codeeditor-box {
  width: 1185px;
  height: max-content;
}
.container-resources {
  width: 99%;
  height: 800px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 13px;
}
.container-resources .card {
  cursor: pointer;
  background-color: #e4e9f7;
  border-color: #e4e5e5;
  width: fit-content;
}
.container-resources .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}
.container-resources .card .face.face1 {
  position: relative;
  background-color: rgb(60, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container-resources .card:hover .face.face1 {
  background-color: #6f6c6d;
  transform: translateY(0);
}
.container-resources .card:hover .face.face1 .content {
  opacity: 1;
}
.container-resources .card .face.face1 .content .imggg {
  max-width: 90px;
  height: 90px;
}
.container-resources .card .face.face1 .content .h333 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.container-resources .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.container-resources .card:hover .face.face2 {
  transform: translateY(0);
}
.container-resources .card .face.face2 .content .ppp {
  margin: 0;
  padding: 0;
}
.container-resources .card .face.face2 .content .aaa {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}
.container-resources .card .face.face2 .content .aaa:hover {
  background: #333;
  color: #fff;
}
.resources {
  width: 99%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
